[general]
library_name = "libcusparse"
output_file_path = "../../lib/cusparse/libcusparse.jl"
prologue_file_path = "./libcusparse_prologue.jl"
epilogue_file_path = "./libcusparse_epilogue.jl"

output_ignorelist = [
    # generates bad code
    "CUSPARSE_CPP_VERSION",
    "CUSPARSE_DEPRECATED_REPLACE_WITH",
    "CUSPARSE_DEPRECATED_ENUM_REPLACE_WITH",
    # these change often
    "CUSPARSE_VERSION",
    "CUSPARSE_VER_.*",
]


[codegen]
use_ccall_macro = true
always_NUL_terminated_string = true



[api]
checked_rettypes = [ "cusparseStatus_t" ]

[api.cusparseGetVersion]
needs_context = false

[api.cusparseGetProperty]
needs_context = false

[api.cusparseGetErrorName]
needs_context = false

[api.cusparseGetErrorString]
needs_context = false

[api."cusparseğ•axpyi".argtypes]
3 = "Ref{T}"
4 = "CuPtr{T}"
5 = "CuPtr{Cint}"
6 = "CuPtr{T}"

[api."cusparseğ•gthr".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{T}"
5 = "CuPtr{Cint}"

[api."cusparseğ•gthrz".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{T}"
5 = "CuPtr{Cint}"

[api."cusparseğ•sctr".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{Cint}"
5 = "CuPtr{T}"

[api."cusparseğ•roti".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{Cint}"
5 = "CuPtr{T}"
6 = "Ref{T}"
7 = "Ref{T}"

[api."cusparseğ•gemvi".argtypes]
5 = "Ref{T}"
6 = "CuPtr{T}"
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "Ref{T}"
12 = "CuPtr{T}"
14 = "CuPtr{Cvoid}"

[api.cusparseCsrmvEx.argtypes]
10 = "CuPtr{Cvoid}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "CuPtr{Cvoid}"
18 = "CuPtr{Cvoid}"
21 = "CuPtr{Cvoid}"

[api.cusparseCsrmvEx_bufferSize.argtypes]
10 = "CuPtr{Cvoid}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "CuPtr{Cvoid}"
18 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrmv".argtypes]
7 = "Ref{T}"
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
13 = "CuPtr{T}"
14 = "Ref{T}"
15 = "CuPtr{T}"

[api."cusparseğ•bsrxmv".argtypes]
8 = "Ref{T}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "CuPtr{Cint}"
16 = "CuPtr{T}"
17 = "Ref{T}"
18 = "CuPtr{T}"

[api."cusparseğ•csrsv2_bufferSize".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•csrsv2_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•csrsv2_analysis".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{Cvoid}"

[api."cusparseğ•csrsv2_solve".argtypes]
5 = "Ref{T}"
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{T}"
14 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrsv2_bufferSize".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"

[api."cusparseğ•bsrsv2_bufferSizeExt".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"

[api."cusparseğ•bsrsv2_analysis".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
13 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrsv2_solve".argtypes]
6 = "Ref{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
13 = "CuPtr{T}"
14 = "CuPtr{T}"
16 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrmm".argtypes]
9 = "Ref{T}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
15 = "CuPtr{T}"
17 = "Ref{T}"
18 = "CuPtr{T}"

[api."cusparseğ•gemmi".argtypes]
6 = "Ref{T}"
7 = "CuPtr{T}"
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
12 = "Ref{T}"
13 = "CuPtr{T}"

[api."cusparseğ•csrsm2_bufferSizeExt".argtypes]
8 = "Ref{T}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
13 = "CuPtr{T}"

[api."cusparseğ•csrsm2_analysis".argtypes]
8 = "Ref{T}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
13 = "CuPtr{T}"
17 = "CuPtr{Cvoid}"

[api."cusparseğ•csrsm2_solve".argtypes]
8 = "Ref{T}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
13 = "CuPtr{T}"
17 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrsm2_bufferSize".argtypes]
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"

[api."cusparseğ•bsrsm2_bufferSizeExt".argtypes]
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"

[api."cusparseğ•bsrsm2_analysis".argtypes]
9 = "CuPtr{T}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrsm2_solve".argtypes]
8 = "Ref{T}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
15 = "CuPtr{T}"
17 = "CuPtr{T}"
20 = "CuPtr{Cvoid}"

[api."cusparseğ•csrilu02".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•csrilu02_bufferSize".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•csrilu02_bufferSizeExt".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•csrilu02_analysis".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrilu02".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{Cvoid}"

[api."cusparseğ•bsrilu02_bufferSize".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•bsrilu02_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•bsrilu02_analysis".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{Cvoid}"

[api."cusparseğ•csric02_bufferSize".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•csric02".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•csric02_bufferSizeExt".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•csric02_analysis".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•bsric02".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{Cvoid}"

[api."cusparseğ•bsric02_bufferSize".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•bsric02_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•bsric02_analysis".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{Cvoid}"

[api."cusparseğ•gtsv2_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"

[api."cusparseğ•gtsv2".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"
9 = "CuPtr{Cvoid}"

[api."cusparseğ•gtsv2_nopivot".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"
9 = "CuPtr{Cvoid}"

[api."cusparseğ•gtsv2_nopivot_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"

[api."cusparseğ•gtsv2StridedBatch".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
9 = "CuPtr{Cvoid}"

[api."cusparseğ•gtsv2StridedBatch_bufferSizeExt".argtypes]
3 = "CuPtr{T}"
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"

[api."cusparseğ•gtsvInterleavedBatch_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"

[api."cusparseğ•gtsvInterleavedBatch".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"
9 = "CuPtr{Cvoid}"

[api."cusparseğ•gpsvInterleavedBatch_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{T}"

[api."cusparseğ•gpsvInterleavedBatch".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{T}"
6 = "CuPtr{T}"
7 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{T}"
11 = "CuPtr{Cvoid}"

[api."cusparseğ•csrgemm2".argtypes]
5 = "Ref{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
13 = "CuPtr{T}"
14 = "CuPtr{Cint}"
15 = "CuPtr{Cint}"
16 = "Ref{T}"
19 = "CuPtr{T}"
20 = "CuPtr{Cint}"
21 = "CuPtr{Cint}"
23 = "CuPtr{T}"
24 = "CuPtr{Cint}"
25 = "CuPtr{Cint}"
27 = "CuPtr{Cvoid}"

[api."cusparseğ•csrgemm2_bufferSizeExt".argtypes]
5 = "Ref{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "Ref{T}"
17 = "CuPtr{Cint}"
18 = "CuPtr{Cint}"

[api.cusparseXcsrgemm2Nnz.argtypes]
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
15 = "CuPtr{Cint}"
16 = "CuPtr{Cint}"
18 = "CuPtr{Cint}"
19 = "PtrOrCuPtr{Cint}"
21 = "CuPtr{Cvoid}"

[api."cusparseğ•csrgeam2_bufferSizeExt".argtypes]
4 = "Ref{T}"
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
10 = "Ref{T}"
13 = "CuPtr{T}"
14 = "CuPtr{Cint}"
15 = "CuPtr{Cint}"
17 = "CuPtr{T}"
18 = "CuPtr{Cint}"
19 = "CuPtr{Cint}"

[api."cusparseğ•csrgeam2".argtypes]
4 = "Ref{T}"
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
10 = "Ref{T}"
13 = "CuPtr{T}"
14 = "CuPtr{Cint}"
15 = "CuPtr{Cint}"
17 = "CuPtr{T}"
18 = "CuPtr{Cint}"
19 = "CuPtr{Cint}"
20 = "CuPtr{Cvoid}"

[api.cusparseXcsrgeam2Nnz.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "PtrOrCuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api."cusparseğ•csrcolor".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"

[api."cusparseğ•nnz".argtypes]
6 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "PtrOrCuPtr{Cint}"

[api."cusparseğ•nnz_compress".argtypes]
4 = "CuPtr{T}"
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"
7 = "PtrOrCuPtr{Cint}"

[api."cusparseğ•csr2csr_compress".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"

[api."cusparseğ•dense2csr".argtypes]
5 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"

[api."cusparseğ•csr2dense".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{T}"

[api."cusparseğ•dense2csc".argtypes]
5 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"

[api."cusparseğ•csc2dense".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{T}"

[api.cusparseXcoo2csr.argtypes]
2 = "CuPtr{Cint}"
5 = "CuPtr{Cint}"

[api.cusparseXcsr2coo.argtypes]
2 = "CuPtr{Cint}"
5 = "CuPtr{Cint}"

[api.cusparseXcsr2bsrNnz.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
11 = "PtrOrCuPtr{Cint}"

[api."cusparseğ•csr2bsr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"

[api."cusparseğ•bsr2csr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"

[api."cusparseğ•gebsr2gebsc".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api."cusparseğ•gebsr2gebsc_bufferSize".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•gebsr2gebsc_bufferSizeExt".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api.cusparseXgebsr2csr.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"

[api."cusparseğ•gebsr2csr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{T}"
13 = "CuPtr{Cint}"
14 = "CuPtr{Cint}"

[api."cusparseğ•csr2gebsr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
10 = "CuPtr{T}"
11 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api."cusparseğ•csr2gebsr_bufferSize".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api."cusparseğ•csr2gebsr_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"

[api.cusparseXcsr2gebsrNnz.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
12 = "PtrOrCuPtr{Cint}"
13 = "CuPtr{Cvoid}"

[api."cusparseğ•gebsr2gebsr_bufferSize".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"

[api."cusparseğ•gebsr2gebsr".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"
13 = "CuPtr{T}"
14 = "CuPtr{Cint}"
15 = "CuPtr{Cint}"
18 = "CuPtr{Cvoid}"

[api."cusparseğ•gebsr2gebsr_bufferSizeExt".argtypes]
7 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cint}"

[api.cusparseXgebsr2gebsrNnz.argtypes]
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
12 = "CuPtr{Cint}"
15 = "PtrOrCuPtr{Cint}"
16 = "CuPtr{Cvoid}"

[api.cusparseCreateIdentityPermutation.argtypes]
3 = "CuPtr{Cint}"

[api.cusparseXcoosort_bufferSizeExt.argtypes]
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"

[api.cusparseXcoosortByRow.argtypes]
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cvoid}"

[api.cusparseXcoosortByColumn.argtypes]
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cvoid}"

[api.cusparseXcsrsort.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cvoid}"

[api.cusparseXcsrsort_bufferSizeExt.argtypes]
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"

[api.cusparseXcscsort.argtypes]
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
9 = "CuPtr{Cvoid}"

[api.cusparseXcscsort_bufferSizeExt.argtypes]
5 = "CuPtr{Cint}"
6 = "CuPtr{Cint}"

[api."cusparseğ•csru2csr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•csru2csr_bufferSizeExt".argtypes]
5 = "CuPtr{T}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"

[api."cusparseğ•csr2csru".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneDense2csr_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"

[api."cusparseğ•pruneDense2csr".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
11 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneDense2csrNnz".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "PtrOrCuPtr{Cint}"
10 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneCsr2csr_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"

[api."cusparseğ•pruneCsr2csr".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
14 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneCsr2csrNnz".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
12 = "PtrOrCuPtr{Cint}"
13 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneDense2csrByPercentage_bufferSizeExt".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"

[api."cusparseğ•pruneDense2csrByPercentage".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{T}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
12 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneDense2csrNnzByPercentage".argtypes]
4 = "CuPtr{T}"
8 = "CuPtr{Cint}"
9 = "PtrOrCuPtr{Cint}"
11 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneCsr2csrByPercentage_bufferSizeExt".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"

[api."cusparseğ•pruneCsr2csrByPercentage".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{T}"
12 = "CuPtr{Cint}"
13 = "CuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api."cusparseğ•pruneCsr2csrNnzByPercentage".argtypes]
6 = "CuPtr{T}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cint}"
11 = "CuPtr{Cint}"
12 = "PtrOrCuPtr{Cint}"
14 = "CuPtr{Cvoid}"

[api.cusparseCsr2cscEx2.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cvoid}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"
15 = "CuPtr{Cvoid}"

[api.cusparseCsr2cscEx2_bufferSize.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cint}"
7 = "CuPtr{Cint}"
8 = "CuPtr{Cvoid}"
9 = "CuPtr{Cint}"
10 = "CuPtr{Cint}"

[api.cusparseCreateSpVec.argtypes]
4 = "CuPtr{Cvoid}"
5 = "CuPtr{Cvoid}"

[api.cusparseSpVecGet.argtypes]
4 = "CuPtr{Ptr{Cvoid}}"
5 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseSpVecGetValues.argtypes]
2 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseSpVecSetValues.argtypes]
2 = "CuPtr{Cvoid}"

[api.cusparseCreateDnVec.argtypes]
3 = "CuPtr{Cvoid}"

[api.cusparseDnVecGet.argtypes]
3 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseDnVecGetValues.argtypes]
2 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseDnVecSetValues.argtypes]
2 = "CuPtr{Cvoid}"

[api.cusparseSpMatGetValues.argtypes]
2 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseSpMatSetValues.argtypes]
2 = "CuPtr{Cvoid}"

[api.cusparseCreateCsr.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cvoid}"
7 = "CuPtr{Cvoid}"

[api.cusparseCsrGet.argtypes]
5 = "CuPtr{Ptr{Cvoid}}"
6 = "CuPtr{Ptr{Cvoid}}"
7 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseCsrSetPointers.argtypes]
2 = "CuPtr{Cvoid}"
3 = "CuPtr{Cvoid}"
4 = "CuPtr{Cvoid}"

[api.cusparseCreateCoo.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cvoid}"
7 = "CuPtr{Cvoid}"

[api.cusparseCreateCooAoS.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cvoid}"

[api.cusparseCooGet.argtypes]
5 = "CuPtr{Ptr{Cvoid}}"
6 = "CuPtr{Ptr{Cvoid}}"
7 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseCooAoSGet.argtypes]
5 = "CuPtr{Ptr{Cvoid}}"
6 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseCreateDnMat.argtypes]
5 = "CuPtr{Cvoid}"

[api.cusparseDnMatGet.argtypes]
5 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseDnMatGetValues.argtypes]
2 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseDnMatSetValues.argtypes]
2 = "CuPtr{Cvoid}"

[api.cusparseAxpby.argtypes]
2 = "PtrOrCuPtr{Cvoid}"
4 = "PtrOrCuPtr{Cvoid}"

[api.cusparseRot.argtypes]
2 = "PtrOrCuPtr{Cvoid}"
3 = "PtrOrCuPtr{Cvoid}"

[api.cusparseSpVV.argtypes]
5 = "PtrOrCuPtr{Cvoid}"
7 = "CuPtr{Cvoid}"

[api.cusparseSpVV_bufferSize.argtypes]
5 = "PtrOrCuPtr{Cvoid}"

[api.cusparseSpMV.argtypes]
3 = "PtrOrCuPtr{Cvoid}"
6 = "PtrOrCuPtr{Cvoid}"
10 = "CuPtr{Cvoid}"

[api.cusparseSpMM.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
11 = "CuPtr{Cvoid}"

[api.cusparseSpMM_bufferSize.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"

[api.cusparseSpGEMM_workEstimation.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
13 = "CuPtr{Cvoid}"

[api.cusparseSpGEMM_compute.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
13 = "CuPtr{Cvoid}"

[api.cusparseSpGEMM_copy.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"

[api.cusparseConstrainedGeMM.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
10 = "CuPtr{Cvoid}"

[api.cusparseSparseToDense.argtypes]
5 = "CuPtr{Cvoid}"

[api.cusparseCscSetPointers.argtypes]
2 = "CuPtr{Cvoid}"
3 = "CuPtr{Cvoid}"
4 = "CuPtr{Cvoid}"

[api.cusparseCreateCsc.argtypes]
5 = "CuPtr{Cvoid}"
6 = "CuPtr{Cvoid}"
7 = "CuPtr{Cvoid}"

[api.cusparseDenseToSparse_convert.argtypes]
5 = "CuPtr{Cvoid}"

[api.cusparseDenseToSparse_analysis.argtypes]
5 = "CuPtr{Cvoid}"

[api.cusparseCooSetPointers.argtypes]
2 = "CuPtr{Cvoid}"
3 = "CuPtr{Cvoid}"
4 = "CuPtr{Cvoid}"

[api.cusparseCreateBlockedEll.argtypes]
6 = "CuPtr{Cvoid}"
7 = "CuPtr{Cvoid}"

[api.cusparseSDDMM_bufferSize.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"

[api.cusparseSDDMM.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
11 = "CuPtr{Cvoid}"

[api.cusparseBlockedEllGet.argtypes]
6 = "CuPtr{Ptr{Cvoid}}"
7 = "CuPtr{Ptr{Cvoid}}"

[api.cusparseSpMV_preprocess.argtypes]
3 = "PtrOrCuPtr{Cvoid}"
6 = "PtrOrCuPtr{Cvoid}"
10 = "CuPtr{Cvoid}"

[api.cusparseSpMM_preprocess.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
11 = "CuPtr{Cvoid}"

[api.cusparseSDDMM_preprocess.argtypes]
4 = "PtrOrCuPtr{Cvoid}"
7 = "PtrOrCuPtr{Cvoid}"
11 = "CuPtr{Cvoid}"

[api.cusparseSpGEMMreuse_nnz.argtypes]
10 = "CuPtr{Cvoid}"
12 = "CuPtr{Cvoid}"
14 = "CuPtr{Cvoid}"

[api.cusparseSpGEMMreuse_copy.argtypes]
10 = "CuPtr{Cvoid}"

[api.cusparseSpSM_analysis.argtypes]
11 = "CuPtr{Cvoid}"

[api.cusparseSpSV_analysis.argtypes]
10 = "CuPtr{Cvoid}"

[api.cusparseSpSV_updateMatrix.argtypes]
3 = "CuPtr{Cvoid}"

[api.cusparseSpSM_updateMatrix.argtypes]
3 = "CuPtr{Cvoid}"

[api.cusparseSpGEMMreuse_workEstimation.argtypes]
10 = "CuPtr{Cvoid}"

[api.cusparseSpMMOp.argtypes]
2 = "CuPtr{Cvoid}"
