# Based on
# * <https://github.com/NumericalEarth/breeze-docker-images/blob/f06a3da11b2c7edaaf0a8e32c133270eb4103b1c/.github/workflows/DockerPublish.yml>
# * <https://docs.github.com/en/actions/publishing-packages/publishing-docker-images>
# * <https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners>.

name: Publish Docker container

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build instead'
        required: false
        default: ''
      mark_as_latest:
        description: 'Mark as latest'
        type: boolean
        required: false
        default: false
  push:
    tags:
      - 'v*'
    branches:
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build Container for ${{ matrix.platform }} - Julia ${{ matrix.julia }} - CUDA ${{ matrix.cuda }}
    permissions:
      contents: read
      packages: write
      attestations: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    strategy:
      matrix:
        julia: ["1.10", "1.11"]
        cuda: ["11.8", "12.6"]
        platform: ["linux/amd64"]
        os: ["ubuntu-24.04"]
        include:
          - julia: "1.11"
            cuda: "12.6"
            platform: "linux/amd64"
            os: "ubuntu-24.04"
            default: true
          - julia: "1.11"
            cuda: "12.6"
            platform: "linux/arm64"
            os: "ubuntu-24.04-arm"
            default: true

    runs-on: ${{ matrix.os }}

    steps:
      # Docker is terrible and doesn't like uppercase image names.
      - name: Lowercase image name
        run: |
          IMAGE_NAME=$(echo ${IMAGE_NAME} | tr A-Z a-z)
          echo "IMAGE_NAME=${IMAGE_NAME}" >> "${GITHUB_ENV}"

      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Check out the package
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.ref_name }}
          path: package

      - name: Get package spec
        id: pkg
        run: |
          if [[ -n "${{ inputs.tag }}" ]]; then
            echo "ref=${{ inputs.tag }}" >> $GITHUB_OUTPUT
            echo "name=${{ inputs.tag }}" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref_type }}" == "tag" ]]; then
            echo "ref=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            echo "name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            echo "ref=${{ github.sha }}" >> $GITHUB_OUTPUT
            echo "name=dev" >> $GITHUB_OUTPUT
          fi

          VERSION=$(grep "^version = " package/Project.toml | cut -d'"' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Get CUDA major version
        id: cuda
        run: |
          CUDA_MAJOR=$(echo ${{ matrix.cuda }} | cut -d'.' -f1)
          echo "major=${CUDA_MAJOR}" >> $GITHUB_OUTPUT

      - name: Set CPU target
        id: cpu_target
        run: |
          if [[ "${{ matrix.platform }}" == "linux/amd64" ]]; then
            echo "target=generic;sandybridge,-xsaveopt,clone_all;haswell,-rdrnd,base(1)" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.platform }}" == "linux/arm64" ]]; then
            echo "target=generic;cortex-a57;thunderx2t99;carmel,clone_all;apple-m1,base(3);neoverse-512tvb,base(3)" >> $GITHUB_OUTPUT
          fi

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          provenance: false # the build fetches the repo again, so provenance tracking is not useful
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.pkg.outputs.name }}-julia${{ matrix.julia }}-cuda${{ steps.cuda.outputs.major }}
          labels: |
              org.opencontainers.image.version=${{ steps.pkg.outputs.version }}
          build-args: |
            JULIA_VERSION=${{ matrix.julia }}
            CUDA_VERSION=${{ matrix.cuda }}
            PACKAGE_SPEC=CUDA#${{ steps.pkg.outputs.ref }}
            JULIA_CPU_TARGET=${{ steps.cpu_target.outputs.target }}

      - name: Export digest
        id: export-digest
        run: |
          mkdir -p /tmp/digests
          digest_name=${{ steps.pkg.outputs.name }}-julia${{ matrix.julia }}-cuda${{ steps.cuda.outputs.major }}-$(echo ${{ matrix.platform }} | tr / -)
          echo "digest_name=${digest_name}" | tee "${GITHUB_OUTPUT}"
          echo "${{ steps.build.outputs.digest }}" > "/tmp/digests/${digest_name}"

      - name: Upload digest
        uses: actions/upload-artifact@v6
        with:
          name: digests-${{ steps.export-digest.outputs.digest_name }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    if: github.event_name != 'pull_request'

    steps:
      # Docker is terrible and doesn't like uppercase image names.
      - name: Lowercase image name
        run: |
          IMAGE_NAME=$(echo ${IMAGE_NAME} | tr A-Z a-z)
          echo "IMAGE_NAME=${IMAGE_NAME}" >> "${GITHUB_ENV}"

      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log into the registry.
      # https://github.com/docker/login-action
      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest lists for each tag
        run: |
          for file in /tmp/digests/*; do
            TAG=${file##*/}                        # e.g. "dev-julia1.11-cuda11-linux-amd64"
            VARIANT=$(echo ${TAG} | cut -d- -f1-3) # e.g. "dev-julia1.11-cuda11"
            # buildx imagetools needs: -t registry/image:tag and sources
            SOURCES=""
            for f in /tmp/digests/${VARIANT}-*; do
              # each f contains a digest per arch
              DIG=$(cat "${f}")
              PLATFORM=${f##*/}            # e.g. "docs-linux-amd64"
              SOURCES="${SOURCES} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${DIG}"
            done
            docker buildx imagetools create \
              --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${VARIANT} \
              ${SOURCES}
          done
